[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
cohere = "*"
ipykernel = "*"
openai = "*"
nltk = "*"

[dev-packages]
pandas = "*"
pyarrow = "*"
numpy = "*"

[requires]
python_version = "3.9"
